:root {
  --color-primary: #FFEA11;
  --color-background: #313638;
  --color-white: #ECEBF3;
  --color-light-gray: #DDD;
  --color-gray: #C4C4C4;

  --font-title: 'Bebas Neue', cursive;
  --font-text: 'Poppins', sans-serif;

  font-size: 60%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  outline: 0;
}

body,
html {
  background-color: #ddd;
}

button,
a {
  background: transparent;
  transition: all 0.3s ease;
  cursor: pointer;
  text-decoration: none;
}

button {
  font-size: 2.2rem;
  color: var(--color-background);
  background: transparent;
  font-family: var(--font-title);
}

p,
span,
strong,
a,
input,
textarea,
label,
li {
  font-size: 1.8rem;
  font-family: var(--font-text);
  color: var(--color-gray);
}

h1,
h2,
h3 {
  font-size: 3.2rem;
  font-family: var(--font-title);
  color: var(--color-white);
}

section {
  max-width: 1000px;
  margin: 0 auto;
}

@media(min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}