.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .content {
    height: 60rem;
    width: 100%;
    background-color: var(--color-background);
    border-radius: 2.2rem;
  }
}