.header {
  section {
    position: relative;
    height: 4.4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    nav {
      width: 100%;
      display: flex;
      padding: 0 1.2rem;

      .toggleMenuButton {
        height: 3.2rem;
        width: 3.2rem;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-white);
        display: none;
      }

      ul {
        list-style: none;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        li {
          button {
            color: var(--color-gray);
            font-size: 2.2rem;
            margin: 0 1.8rem;
            padding: 0 1.8rem;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            &::after {
              transition: all 0.3s ease;
              content: "";
              height: 0.2rem;
              width: 1.6rem;
              background-color: var(--color-primary);
              position: absolute;
              bottom: 0;
              border-radius: 2.2rem;
              transform: scaleX(0%);
            }
          }

          .selected {
            color: var(--color-primary);

            &::after {
              transform: scaleX(100%);
            }
          }
        }
      }

      .changeThemeButton {
        width: 2.4rem;
        height: 2.4rem;
        background-color: var(--color-white);
        border-radius: 50%;
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        &::after {
          content: "";
          position: absolute;
          background-color: var(--color-white);
          width: 20rem;
          height: 20rem;
          transform: scale(0%);
          border-radius: 50%;
          z-index: -1;
          transition: all 0.3s ease;
        }

        &:hover {
          &::after {
            transform: scale(100%);
          }
        }
      }
    }
  }
}

.whiteTheme {
  section {
    nav {

      ul {
        li {
          button {
            height: 3.4rem;
            border-radius: 0.8rem;
            color: var(--color-background);
            z-index: 1;

            &::before {
              content: "";
              position: absolute;
              background-color: var(--color-white);
              height: 100%;
              width: 0%;
              z-index: -1;
              border-radius: 0.8rem;
              transform: scale(100%);
              left: 0;
              transition: all 0.5s ease;
            }

            &::after {
              display: none;
            }
          }

          .selected {
            color: var(--color-background);

            &::before {
              width: 100%;
            }
          }
        }
      }

      .changeThemeButton {
        background-color: var(--color-background);

        &::after {
          background-color: var(--color-background);
        }


        svg {
          color: #fff !important;
        }
      }
    }
  }
}

@media(max-width: 570px) {
  .header {
    section {
      nav {
        ul {
          li {
            button {
              margin: 0 0.4rem;
            }
          }
        }
      }
    }
  }
}

@media(max-width: 450px) {
  .header {
    position: relative;

    section {
      nav {
        position: relative;
        justify-content: flex-end;


        ul {
          flex: 0;
          position: fixed;
          left: 0;
          top: 0;
          background-color: rgba($color: #000000, $alpha: 0.9);
          height: 100vh;
          z-index: 99;
          flex-direction: column;
          width: 25rem;
          transition: all 0.5s ease;
          transform: translateX(-25rem);

          &:focus-within {
            transform: translateX(0);

            .toggleMenuButton {
              opacity: 0;
            }
          }

          .toggleMenuButton {
            display: flex;
            position: absolute;
            top: 0.8rem;
            right: -4.2rem;
            opacity: 1;
          }

          li {
            button {
              height: 4.4rem;
              margin-bottom: 0.4rem;

              &::after {
                bottom: 0.8rem;
              }
            }
          }

        }
      }
    }
  }
}